
/* Estilos del encabezado  */

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}



header{
  display: flex;
  background-color: #e6d119;
  align-items: center;
  justify-content: space-between;
}

a { 
  text-decoration: none;
}

header nav ul {
  display: flex;
  gap: 1.1em;
  padding-right: 1em;
}


#check {
  display: none;
  
}

.checkbtn {

  display: none;
  font-size: 25px;
  color: black;
  float: right;
  line-height: 80px;
  padding-right: 10px;
  cursor: pointer;
  
}

ol, ul {
  list-style: none;
  
}

header a i {
  color: black;
  font-size: 2em;
  padding: 0.5em;
}

header nav ul li a {
  color: black;
  font-weight: bold;
  font-size: large;
  
}

* {
   font-family: "Arima";
}

/* ----------- F O R M U L A R I O -----------------------------------------*/


.titulo_seccion {
    position: relative;
    font-size: 40px;
    text-align: center;
  }

.formulario {
    display: block;
    width: 50%;
    flex-direction: column;
    max-width: 90%; /* Define el ancho máximo del contenedor */
    border: solid gray; /* Agrega un borde al contenedor */
    border-radius: 16px; /* Agrega bordes redondeados al contenedor */
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
     }

  .container h3 {
    display: flex;
    font-size: 140%;
    font-weight: 900;
    justify-content: center;
    
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
    

    }

  .formulario button {
       display: flex;
       justify-content: center;
    }

  .form-group {
 
    margin-bottom: 15px; /* Espacio entre cada input */
    align-items: center;
    justify-content: center;
  }

  .form-group label {

    justify-content: center;
  }
  label {
    display: flex;
    margin-bottom: 3px;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 700;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    margin: auto;
    height: 3em;

  }
  textarea {
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
    height: 6em;
  }
  button {
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    font-size: large;
    font-weight: 800;

    /* Coloca estilos a tu botón */
  }
  button:hover {
    background-color: #e6d119;
  }

/* ----------- FOTER --------------------------------------------------------*/
footer {
  margin-top: auto;
  width: 100%;
}
.footer {
    padding: 10px;
    background-color: rgb(59, 56, 56);
    
}

footer .footer h3 {
    color: #e6d119;
}

footer a {
    color: gray;
}
/* ----------------- MEDIA QUERIES --------------------*/

@media (max-width: 768px) {
  .checkbtn {
      display: block;
  }
  
  header {
      width: 100%;
      position: fixed;
      z-index: 3;
  }


  #menu-principal{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgb(190, 178, 178);
    text-align: center;

    top: 59px;
    left: 100%;
}


#check:checked ~ ul {
  left: 0%;
  display: block;
  z-index: 3;

}


header nav ul {
  padding-inline: 0;
  transition: all 0.5s;
}

  header nav {
    width: 100%;
    text-align: center;
  }

  
  header nav ul {
       display: none;
    }
  
    header nav ul li {
      margin: 50px 0;  
      font-size: 40px;
      width: 100%;
  }

  header nav ul li:hover{
    background-color: rgb(122, 108, 108);
}

  header nav ul li a {
      font-size: x-large;
  }
  header nav ul li a:hover {
    color: rgb(219, 204, 204);
    width: 100%;
}

}