/* Estilos del encabezado  */

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}
#seccion-principal{
    background-color: #dde1e6;
    display: flex;
    flex-direction: column;
    
}


header{
    display: flex;
    background-color: #e6d119;
    align-items: center;
    justify-content: space-between;
}

a { 
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 1.1em;
    padding-right: 1em;
}


#check {
    display: none;
    
}

.checkbtn {

    display: none;
    font-size: 25px;
    color: black;
    float: right;
    line-height: 80px;
    padding-right: 10px;
    cursor: pointer;
    
}

ol, ul {
    list-style: none;
    
}

header a i {
    color: black;
    font-size: 2em;
    padding: 0.5em;
}

header nav ul li a {
    color: black;
    font-weight: bold;
    font-size: large;
    
}

* {
     font-family: "Arima";
  }
  

/* Estilos del cueropo */

.seccion-1 {
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: center;
}

.caja1 {
    display: flex;
    flex-direction: row;
}

.seccion-1 .acerca-de {

    font-size: medium;
    font-weight: 600;
    color: rgb(52, 56, 26);
    font-size: medium;
    padding: 2em;

}

.caja1 .textos {
    width: 70%;
    padding-right: 5%;

}

.seccion-1 .acerca-de .acerca-imagen
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.acerca-imagen img {
    border-radius: 100%;
    border: 5px solid rgb(133, 130, 130); /* Borde de color envejecido */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra suave */
    filter: grayscale(10%) contrast(90%) brightness(80%);
    width: 100%;
}



.seccion-2 {
    position: sticky;
    margin-bottom: 20px;
}
.seccion-2 .seccion-2-fondo {
    width: 100%; /* Ancho deseado del contenedor */
    height: 200px; /* Alto deseado del contenedor */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
    position: relative;
}

.seccion-2 img {
    width: 100%;  /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe todo el alto del contenedor */
    object-fit: cover;
    filter: grayscale(10%) contrast(90%) brightness(80%);
}


.footer {
    padding: 10px;
    background-color: rgb(59, 56, 56);
    margin-top: auto;
}

footer .footer h3 {
    color: #e6d119;
}

footer a {
    color: gray;
}

.seccion-3 {
    display: flex;
    align-content: center;
    justify-items: center;
}

.card-1 .card-2 .card-3 {
    display: flex;
    width: 30%;
    margin: 4px;

}

.card-1 h3, .card-2 h3, .card-3 h3 {
    text-align: center;
}

.card-1 img, .card-2 img, .card-3 img {
    width: 90%;
    height: 60%;
    filter: grayscale(10%) contrast(90%) brightness(80%);
    border: solid 4px #e6d119;
    border-radius: 30px;
    margin: auto;
    display: flex;            /* Cambia el display a flex */
    justify-content: center;   /* Centra el contenido horizontalmente */
    align-items: center; 
    box-shadow: 0px 4px 8px rgba(4, 3, 0, 0.6); /* Sombra tenue */
}


.card-1 p, .card-2 p, .card-3 p {
    text-align: center;
    padding: 0px 20px;
}


/* ---- MEDIA QUERIES ---------------*/

/* Estilos para pantallas pequeñas (hasta 768px) --*/

@media (max-width: 768px) {
    .checkbtn {
        display: block;
    }
    
    header {
        width: 100%;
        position: fixed;
        z-index: 3;
    }
    #menu-principal{
        display: block;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: rgb(190, 178, 178);
        text-align: center;

        top: 59px;
        left: 100%;
    }

    #check:checked ~ ul {
        left: 0%;
        display: block;
        z-index: 3;
    }

    header nav ul {
        padding-inline: 0;
        transition: all 0.5s;
    }

    header nav ul li {
        margin: 50px 0;  
        font-size: 40px;
        width: 100%;
    }

    header nav ul li:hover{
        background-color: rgb(122, 108, 108);
        
    }

    header nav ul li a {
        font-size: x-large;
    }
    header nav ul li a:hover {
        color: rgb(219, 204, 204);
        width: 100%;
    }

    .caja1 {
    flex-direction: column;
    }

    .caja1 .textos {
        width: 100%;
        padding: 5px;
    }

    .caja1 .acerca-imagen {
        width: 100%;
        margin: auto;
    }
    .acerca-de h2, h3 {
        text-align: center;
    }

    .seccion-3 {
        flex-direction: column;
    }
    
    .container {
        padding: 0;
        width: 100%;
    }

    body {
        padding: 0;
        width: 100%;
    }

}